<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <title>lypekjkj</title>
</head>
<body>

    <div class="container">

        <div class="container-perfil">

            <img src="lypekjkj.gif" class="container-perfil-icon">
            
            <div class="container-perfil-info">
                <h2 class="container-perfil-nick">@lypekjkj</h2>
            </div>

        </div>

        <div class="separator"></div>

        <div class="container-links">

            <div class="container-link">
                <a href="https://instagram.com/lypekjkj"><img src="instagram.png" class="container-link-icon"></a>
                <a href="https://instagram.com/lypekjkj" class="container-link-rota">instagram.com/lypekjkj</a>
                <a href="https://instagram.com/lypekjkj"><i class="fi fi-rr-angle-right"></i></a>
            </div>

            <div class="container-link">
                <a href="https://dsc.gg/quinzesamp"><img src="discord.png" class="container-link-icon"></a>
                <a href="https://dsc.gg/quinzesamp" class="container-link-rota">dsc.gg/quinzesamp</a>
                <a href="https://dsc.gg/quinzesamp"><i class="fi fi-rr-angle-right"></i></a>
            </div>

        </div>

    </div>
    
</body>
</html>